/******************************************************************************
    red1    #E40F23
    red2    #F97884
    red3    #FC1329 
    red4    #99000F 
    red5    #37171A 
    blue1   #2C20A4
    blue2   #756DC5
    blue3   #3F2EE4
    blue4   #140B6E
    blue5   #161428
    yellow1 #ECC20F
    yellow2 #FFE67B
    yellow3 #FFD213
    yellow4 #9E8000
    yellow5 #393318
    black   #000000
******************************************************************************/

/******************************************************************************
    My styling currently looks pretty hideous. I just want you to know that 
    I am aware of this and plan on fixing it in the near future.

    -Alex
******************************************************************************/

body {
    background-color: #000000;
}

h1 {
    margin: 0px;
    padding: 0px;
}

h2 {
    margin: 0px;
    padding: 0px;
}

/*master page***************************************/
#mpHeader{
    color: #37171A;
    background-color: #E40F23;
    margin: 0px;
    padding: 0px;
}
#mpNav{
    display:inline-block;
    color: #2C20A4;
    margin: 0px;
    padding: 0px;
}
#mpMain{
    color: #FFFFFF;
    background-color: #99000F;
    margin: 0px;
    padding: 0px;
}
#mpFooter{
    color: #393318;
    background-color: #ECC20F;
    margin: 0px;
    padding: 0px;
}
#main_body {
    width: 1004px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #756DC5;
    height: 100%;
    position: relative;
}
/*controls******************************************/
.right_label {
    display: inline-block;
    text-align: right;
    width: 10em;
    padding-top: .4em;
    padding-left: .4em;
}
#login_status {
    position: absolute;
    right: 0px;
    top: 0px;
}

/*textbox*/
input[type=text] {
    width: 10em;
}
input[type=text].name_textbox {
    width: 8em;
}
input[type=text].age_textbox {
    width: 2em;
}
input[type=text].phone_textbox {
    width: 7em;
}
input[type=text].email_textbox {
    width: 16em;
}
input[type=text].address_textbox {
    width: 14em;
}
.blog_textbox {
    margin-top: 1em;
    height: 20em;
    width: 25em;
}

/*button*/
input[type=submit] {
    margin-left: 12.75em;
    margin-top: 1.5em;
    padding-left: .4em;
    padding-right: .4em;
}

[href$="_SkipLink"] {
    position:absolute;
    left: -1000px;

}