/******************************************************************************
    red1    #bc0404
    blue1   #9af1f5
    yellow1 #fdc689
    yellow2 #fff200
    black   #000
    white   #FFF
******************************************************************************/

/******************************************************************************
    My styling currently looks pretty hideous. I just want you to know that 
    I am aware of this and plan on fixing it in the near future.

    -Alex
******************************************************************************/

body {
    background-color: #FFF;
}

h1 {
    margin: 0px;
    padding: 0px;
}

h2 {
    margin: 0px;
    padding: 0px;
}

/*master page***************************************/
#mpHeader{
    background-color: #bc0404;
    border-color: black;
    border: solid;
    border-width: 1px;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}
#mpNav{
    /*display:inline-block;*/
    background-color: #fff200;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-width: 1px;
    padding-top: .25em;
    padding-left: 1em;
    padding-right: 1em;
}
#mpMain{
    color: #000;
    background-color: #FFF;
    border-left: solid;
    border-right: solid;
    border-width: 1px;
    margin: 0px;
    padding-top: 1em;
    padding-left: 1em;
}
#mpFooter{
    color: #393318;
    background-color: #fdc689;
    border: solid;
    border-width: 1px;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}
#main_body {
    width: 1004px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    /*background-color: #756DC5;*/
    height: 100%;
    position: relative;
}
.logo {
    position:absolute;
    width: 240px;
    height: 150px;
    margin-top: -38px;
    margin-bottom: 0px;
    margin-left: 36%;
}
/*controls******************************************/
.right_label {
    display: inline-block;
    text-align: right;
    width: 10em;
    padding-top: .4em;
    padding-left: .4em;
}
#login_status {
    position: absolute;
    font-size: 2em;
    right: 1em;
    top: .45em;
}


/*textbox*/
input[type=text] {
    width: 10em;
}
input[type=text].name_textbox {
    width: 8em;
}
input[type=text].age_textbox {
    width: 2em;
}
input[type=text].phone_textbox {
    width: 7em;
}
input[type=text].email_textbox {
    width: 16em;
}
input[type=text].address_textbox {
    width: 14em;
}
.blog_textbox {
    margin-top: 1em;
    height: 20em;
    width: 25em;
}

/*button*/
input[type=submit] {
    margin-left: 12.75em;
    margin-top: 1.5em;
    padding-left: .4em;
    padding-right: .4em;
    width: 105px;
}

[href$="_SkipLink"] {
    position:absolute;
    left: -1000px;

}