<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <location path="Support.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="Admin/UserManagement.aspx">
    <system.web>
      <authorization>
        <allow roles="Admins"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="Customers/Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="Customers">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <connectionStrings>
    <add name="DB_CST465" connectionString="Server=aura.students.cset.oit.edu;Database=alexander_carlson;User Id=alexander_carlson;Password=ac6160;"/>
  </connectionStrings>
  <appSettings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <siteMap defaultProvider="SecuredSiteMap">
      <providers>
        <add name="SecuredSiteMap" type="System.Web.XmlSiteMapProvider"
          securityTrimmingEnabled="true" siteMapFile="~/Web.sitemap" />
      </providers>
    </siteMap>
    <roleManager defaultProvider="SqlRoles" enabled="true">
      <providers>
        <add name="SqlRoles"
            type="System.Web.Security.SqlRoleProvider"
            applicationName="CST465"
            connectionStringName="DB_CST465" />
      </providers>
    </roleManager>
    <membership defaultProvider="SqlMembership">
      <providers>
        <add
        name="SqlMembership"
        type="System.Web.Security.SqlMembershipProvider"
        connectionStringName="DB_CST465"
        applicationName="CST465"
        enablePasswordRetrieval="false"
        enablePasswordReset="true"
        requiresQuestionAndAnswer="true"
        requiresUniqueEmail="true"
        passwordFormat="Hashed" />
      </providers>
    </membership>
    <authentication mode="Forms">
      <forms loginUrl="~/Customers/Login.aspx">
      </forms>
    </authentication>
    <trace enabled="true" requestLimit="200" localOnly="true"/>
    <pages enableSessionState="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="A4" namespace="CST_465_Project.Code" assembly="CST 465 Project"/>
      </controls>
    </pages>
    <!--Handle errors in ASP.NET -->
    <customErrors mode="Off" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="~/404Error.aspx?Source=ASP.NET"/>
      <error statusCode="500" redirect="~/500Error.aspx?Source=ASP.NET"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime/>
  </system.web>
  <!--Handle errors in IIS -->
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Auto">
      <clear/>
      <!--Clear out the defaults set by IIS -->
      <error statusCode="404" path="/404Error.aspx?source=WebServer" responseMode="ExecuteURL"/>
      <error statusCode="500" path="/500Error.aspx?source=WebServer" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
</configuration>